<div>
    <div class="container3">
    <div class="row">
<br>
<br>
    	<div class="span3 well">
        <center>
        <a><img src="assets/doran.jpg" name="aboutme" width="180" height="140" class="img-circle"></a>
         <h3>Dorancelis Cordones</h3>
         
         <p>Salesearch is a project developed in Ruby on rails. 
         <p>The main idea of this app is to find all “on sale” which the partnes of this company has. 
         <p>The user can check all the products and make a purchase.  
            </p>
			</center>
            
        </div>
    </div>
    </div>
</div>