<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7"> About Salesearch</h6>
        <p>Salesearch is a project developed in Ruby on rails. 
			The main idea of this app is to find all “on sale” which partner’s companies have. 
			The user can check all the products and make a purchase.  
		</p>
        <p><i class="fa fa-map-pin"></i> Ireland, Dublin </p>
        <p><i class="fa fa-phone"></i> Phone (Ireland) : +353 9999 999 999</p>
        <p><i class="fa fa-envelope"></i> E-mail : tbc@test.com</p>
        
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Customer Service</h6>
        <ul class="footer-ul">
          <li><a href="#"> Contact us</a></li>
          <li><a href="#"> Gift card</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Company Info</h6>
        <ul class="footer-ul">
          <li><a href="#"> About us</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Career</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->


<div id="bottomM">
<div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
				</div>
				
		<div id="wrapper2">
				<div id="Bcopy">
					<p style="text-align: center; padding: 0px"; >&#169; Copyright - Sale Search, 2017 by DC. </p>					</div>
				</div>
		</div>
		
		