<div class="center nav2">
    <ul>
       <li><%= link_to 'Home', companies_path %></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        
    </ul>
</div>

