<div class="center nav2">
    <ul>
       <li><%= link_to 'Home', companies_path %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">contact_info</a></li>
        <li><a href="#">Download</a></li>
    </ul>
</div>

